*{
    box-sizing: border-box;
}
body{
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container  
{
    background-color: rgb(238, 201, 201);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}
.container .logo {
    display: flex;
    align-items: center;
}
.container ul
{
    display: flex;
    list-style: none;
}
.container ul li:not(:last-child){
margin-right: 5px;
}
.menu-mobile{
    display: none;
    position: relative;
}
.menu-mobile .button{
    position: absolute;
    right: 0px;
    top: -5px;
}
.menu-mobile .button div {
    width: 20px;
    height: 3px;
    background-color: #10dd54;
    margin: 2px;
}
.container ul li:not(:last-child){
   margin-right: 5px;
}

@media (max-width: 800px){
    .menu-mobile{
        display: block;
    }
    
    .container ul li {
        margin: 2px ;
        background-color: rgb(152, 199, 43);
    }
    .container ul{
        text-align: center;
        display: flex;
        flex-flow: column;
        position: absolute;
        right: -94px;
        top: 36px;
        transition:  1s
    } 
    
    .container .ul-menu{
        display: flex;
        flex-flow: column;
        position: absolute;
        right: 0;
        top: 36px;
        transition:  .5s
    } 
    .div1 {
        position: absolute;
        right: 0px;
        background-color:red;
        transform: rotate(45deg); 
    }
    .div2 {
        position: absolute;
        right: 0px;
        background-color:red;
        transform: rotate(-45deg); 
    }
    .div3 {
        display: none;
        
    }
    

}
